.card {
  background-color: #01050c;
  color: white;
}

.image {
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s;
  &:hover {
    opacity: 1;
    transform: translate(-2%, -2%);
    box-shadow: 2px 2px 10px 2px white;
  }
}

.card-inner {
  padding: 20px;
}

.title {
  text-align: center;
  color: white;
}

.no__results {
  color: white;
}